* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 9pt;
  color: #aaa;
}
body {
  margin: 0;
  background: #111;
}

button,
input {
  background: #444;
  border: 1px solid currentColor;
  display: block;
}

.controls {
  display: flex;
  padding: 0.25em;
}

.controls > * {
  flex: 1;
  padding: 0.25em;
}

.display {
  padding: 1em;
  text-align: center;
}

.display canvas {
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons > * {
  flex: 1;
  margin: 2px;
}

.corruption-info {
  font-size: 80%;
  text-align: center;
}
